/* apabila tulisan ini masih ada */
/* Buat penjelasan mengenai:  */
/* position */
/* transform */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden; /* Kalau ada yang keluar dari layar body, sembunyikan */
}

/* Navbar */
nav {
    display: flex;
    background-color: rgb(184, 128, 236);
    justify-content: space-around; /* memberi jarak */
    /* padding: 20px 0; */ /* membuat item nya di tengah-tengah */
    color: blanchedalmond; /* memberi warna supaya semua tulisan nya kena */
    height: 50px; /* tinggi nav */
    align-items: center; /* membuat item benar-benar di tengah */
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px; /* memberi jarak antar huruf */
}

nav ul {
    display: flex;
    list-style: none; /* supaya tidak ada titik */ 
    width: 40%;
    justify-content: space-between; /* buat jarak di sekitar tulisannya */
}

nav ul li a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 0.8em; /* normal font-size adalah 1em */
    margin-right: 10px;
}

nav ul li a:hover {
    color: rgb(250, 240, 255);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column; /* membuat item nya ke bawah lagi */
    height: 20px;/* supaya justify-content bisa digunakan */
    justify-content: space-between;/* berjejer ke bawah */
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: -6px;
    top: -4px;
    opacity: 0; /* membuat teransparan sampai tidak kelihatan */
    cursor: pointer; /* membuat cursor berubah saat mengarah ke checkbox */
    z-index: 2; /* membuat item lebih atas posisinya dari item yang lain (ini dilakukan karna saat checkbok di tekan dia ke belakan) */
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(234, 192, 255);
    transition: all 0.5s; /* memberi animasi untuk transform */
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) { /* mentarger span pertama (anak ke dua) */
    transform-origin: 0 0; /* memindahkan poros atau untuk memutar (sumbu x, sumbu y) */
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

/* ~ dibaca sibling. Sibling adalah saudara */
.menu-toggle input:checked ~ span:nth-child(2) { /* ketika input di check, cari saudaranya yang merupakan span anak ke (2) */
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px); /* translate (menaikkan sumbu x = -1px, menaikkan sumbu y = -1px) */
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0; 
    transform: scale(0)
}




/* Responsive Breakpint */

/* ukuran tablet */
@media screen and (max-width: 768px) { /* jika ukurannya browser-nya kurang dari > maka akan jalan */
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) { /* jika ukurannya browser-nya kurang dari > maka akan jalan */
    .menu-toggle {
        display: flex;
    }
    
    nav ul {
        position: absolute; 
        right: 0;
        flex-direction: column;
        top: 0;
        width: 80%;
        height: 100vh; /* view port heigt adalah satuan baru yang menampilkan tinggi dari layar yang kita lihat */
        justify-content: space-evenly; /* untuk membuat dia kebawah */
        align-items: center; /* supaya item-nya di tengah */
        z-index: -1;
        background-color: rgb(184, 128, 236);
        transform: translateX(100%); /* membuat nav ul ini berada di sebelah kanan(keluar dari body atau layar) */
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}